@font-face {
  font-family: Pixel;
  src: url("fonts/Minecraftia-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  word-wrap: break-word;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}

.gral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 100%;
  background: url(../assets/img/bgs/indice.png);
  background-size: cover;
  background-attachment: scroll;
}

.gral .header {
  padding: 10px 16px;
  background: #000000;
  background-size: cover;
  color: #f1f1f1;
  position: relative;
  top: -100%;
  font-size: 2vh;
}

.gral .container {
  width: 100%;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.gral .container.proximity {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.gral .container .portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gral .container .portada .info {
  border-radius: 16px 16px 0px 0px;
  background: rgba(0, 0, 0, 0.527);
  padding: 30px;
  color: #e7e7e7;
  font-size: 2vh;
}

.gral .container .portada .info h3 {
  padding: 10px;
  text-align: center;
}

.gral .container .portada .info h2 {
  padding: 10px;
  text-align: center;
}

.gral .container .portada .info h1 {
  padding: 10px;
}

.gral .container .portada .info p {
  padding: 10px;
}

.gral .container .principal {
  background: url(../assets/img/bgs/338101.png);
}

.gral .container .principal .content {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.527);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e7e7e7;
  font-size: 2vh;
}

.gral .container .principal .content h3 {
  padding: 10px;
  text-align: center;
}

.gral .container .principal .content h2 {
  padding: 10px;
  text-align: center;
}

.gral .container .principal .content h1 {
  padding: 10px;
}

.gral .container .principal .content a {
  color: #e7e7e7;
  text-decoration: none;
  padding: 10px;
}

.gral .container .principal .content .as {
  color: #e7e7e7;
  text-decoration: none;
  padding: 10px 10px 10px 40px;
}

.gral .container .principal .content .prueba {
  background: cadetblue;
}

.gral .container .principal .content .prueba .imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 256px;
  overflow: auto;
  background: cadetblue;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.gral .container .principal .content .prueba .imagen {
  background: chocolate;
  scroll-snap-align: start;
}

.gral .container .t-1 {
  background: url(../assets/img/bgs/348158.png);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e7e7;
  font-size: 2vh;
}

.gral .container .t-1 p {
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  width: 80%;
}

.gral .container .t-1 h3 {
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  margin-top: 5%;
  border-radius: 16px 16px 0px 0px;
}

.gral .container .t-1 em {
  width: 100%;
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  border-radius: 16px 16px 0px 0px;
}

.gral .container .t-1 .sub {
  width: 100%;
  background: rgba(0, 0, 0, 0.527);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.gral .container .t-1 .sub .flecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 10%;
}

.gral .container .t-1 .sub .flecha p {
  background: none;
  min-width: 100%;
}

.gral .container .t-1 .sub .flecha img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  cursor: pointer;
  width: 50%;
}

.gral .container .t-1 .sub .flecha .left {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  cursor: pointer;
  height: 15%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.gral .container .t-1 .sub .capas {
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.527);
  margin: 24px;
  font-family: sans-serif;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.gral .container .t-1 .sub .capas .capa {
  border-right: 1px solid rgba(0, 0, 0, 0.527);
  padding: 1rem;
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

.gral .container .t-1 .sub .capas .capa p {
  background: none;
}

.gral .container .t-2 {
  background: url(../assets/img/bgs/435984.jpg);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e7e7;
  font-size: 2vh;
}

.gral .container .t-2 p {
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  width: 80%;
}

.gral .container .t-2 h3 {
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  margin-top: 5%;
  border-radius: 16px 16px 0px 0px;
}

.gral .container .t-2 .lista {
  background: rgba(0, 0, 0, 0.527);
  width: 80%;
  height: 100%;
  margin: 24px;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.gral .container .t-2 .lista .ilista {
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

.gral .container .t-2 .lista .ilista p {
  background: none;
}

.gral .container .t-3 {
  background: url(../assets/img/bgs/435971.png);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e7e7;
  font-size: 2vh;
}

.gral .container .t-3 p {
  background: rgba(0, 0, 0, 0.527);
  padding: 12px;
  width: 80%;
}

.gral .container .t-3 h3 {
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  margin-top: 2%;
  border-radius: 16px 16px 0px 0px;
}

.gral .container .t-3 .subtemas {
  background: rgba(0, 0, 0, 0.527);
  width: 80%;
  height: 70%;
  margin: 24px;
  font-family: sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  border: none;
}

.gral .container .t-3 .subtemas .subtema {
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 50%;
  min-height: 95%;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  border: none;
}

.gral .container .t-3 .subtemas .subtema h5 {
  background: rgba(0, 0, 0, 0.527);
}

.gral .container .t-3 .subtemas .subtema .estandares {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  border: none;
}

.gral .container .t-3 .subtemas .subtema .estandares h5 {
  background: none;
  padding: 15px;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100%;
  height: 100%;
  text-align: center;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar {
  min-width: 100%;
  padding: 1rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar p {
  background: none;
  width: 100%;
  font-size: 1.5vh;
  text-align: justify;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares {
  display: -ms-grid;
  display: grid;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 5;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-6 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 6;
  grid-row: 6;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-7 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-8 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-9 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-10 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-11 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

.gral .container .t-3 .subtemas .subtema .estandares .scroller .estandar .subestandares .sub-12 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 6;
}

.gral .container .t-4 {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e7e7;
  font-size: 2vh;
}

.gral .container .t-4 p {
  background: rgba(0, 0, 0, 0.527);
  padding: 12px;
  width: 80%;
}

.gral .container .t-4 h3 {
  background: rgba(0, 0, 0, 0.527);
  padding: 24px;
  margin-top: 2%;
  border-radius: 16px 16px 0px 0px;
}

.gral .container .t-4 .partes {
  background: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  font-size: 1.5vh;
}

.gral .container .t-4 .partes p {
  background: none;
}

.gral .container .t-4 .partes .parte {
  width: 33.33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gral .container .t-4 .partes .parte p {
  width: 100%;
}

.gral .container .t-4 .partes .parte img {
  width: 80%;
}

.gral .container .t-4 .partes .parte .tipos {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.gral .container .t-4 .partes .parte .tipos .tipo {
  scroll-snap-align: start;
}

.gral .container .t-4 .partes .parte ul {
  padding-left: 24px;
}

@-webkit-keyframes cabeceraShow {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes cabeceraShow {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@-webkit-keyframes cabeceraHide {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes cabeceraHide {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.scroll {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
/*# sourceMappingURL=styles.css.map */